<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <div class="flex-container bg-black text-white">
    <h1 class="text-center">CSS變數與JS</h1>
    <div class="control-panel text-center">
    <label for="spacing">spacing you want</label>
    <input class="controller" name="spacing" type="range" min="10" max="100" data-sizing="px">
    <label for="blur">blur you want</label>
    <input class="controller" name="blur" type="range" min="0" max="25" data-sizing="px">
    <label for="baseColor">color you want</label>
    <input class="controller" name="baseColor" type="color" value="#ffffff">
    </div>
    <img class="day3-demoImg" src="../images/day3.jpg" />
  </div>
  <script src="../bundle/day3.js"></script>
</body>

</html>