<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <div class="arrayToDemo">
    <h3>filter the list of inventors for those who were born in the 1500's</h3>
    <table class="table">
      <thead>
        <th>first</th>
        <th>last</th>
        <th>year</th>
        <th>passed</th>
      </thead>
      <tbody class="table1_body">
      </tbody>
    </table>
  </div>
  <div class="arrayToDemo">
    <h3>sort the inventors by birthdate, oddest to youngest</h3>
    <table class="table">
      <thead>
        <th>first</th>
        <th>last</th>
        <th>year</th>
        <th>passed</th>
      </thead>
      <tbody class="table2_body">
      </tbody>
    </table>
  </div>
  <div class="arrayToDemo">
    <h3>sort the inventors by year lived</h3>
    <table class="table">
      <thead>
        <th>first</th>
        <th>last</th>
        <th>year</th>
        <th>passed</th>
      </thead>
      <tbody class="table3_body">
      </tbody>
    </table>
  </div>
  <script src="../bundle/day4_day7.js"></script>
</body>

</html>