<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <div class="panels">
    <div class="panel panel1">
      <p>LIFE</p>
      <p>IS</p>
      <p>FUN</p>
    </div>
    <div class="panel panel2">
      <p>JUST</p>
      <p>DO</p>
      <p>IT</p>
    </div>
    <div class="panel panel3">
      <p>BELIEVE</p>
      <p>IN</p>
      <p>YOUSELF</p>
    </div>
    <div class="panel panel4">
      <p>KNOWLEDGE</p>
      <p>IS</p>
      <p>POWER</p>
    </div>
    <div class="panel panel5">
      <p>LEARN</p>
      <p>AND</p>
      <p>LIVE</p>
    </div>
  </div>
  <script src="../bundle/day5.js"></script>
</body>

</html>