<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<div class="container bg-black">
  <form class="search_form">
    <div class="search_block">
      <input class="search_input" type="text" placeholder="entry city you want to search" />
      <button class="search_button">Search now</button>
    </div>
    <ul class="place_lists">
      <li class="list_placeholder">will display filter city list after yout typing</li>
    </ul>
  </form>
</div>

<body>
  <script src="../bundle/day6.js"></script>
</body>

</html>