@import "~normalize.css/normalize.css";
:root {
  --baseColor: #ffffff;
  --spacing: 10px;
  --blur: 5px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  height: 100vh;
  width: 100vw;
}

.container {
  display: block;
  width: 100vw;
  min-height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100vw;
  min-height: 100%;
  height: 100%;
  background-size: cover;
}

.day1-background {
  background: url('../images/day1.jpg');
}

.day2-background {
  background: url('../images/day2.jpg');
}

.bg-black {
  background: #222222;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

// day1 css
.musickey-container {
  width: 100%;
  text-align: center;
}

.musickey {
  display: inline-block;
  margin-left: 20px;
  width: 6rem;
  height: 6rem;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  text-align: center;
  transition: .3s;
  &.playing {
    transform: scale(1.01);
    box-shadow: 0 0 15px white;
  }
  p {
    margin-top: 20px;
  }
}

// day2 css
.clock-face {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  &:before {
    position: absolute;
    z-index: 1;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('../images/clock-face.png');
    background-size: cover;
  }
  &:after {
    position: absolute;
    z-index: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
  }
  .hand {
    position: absolute;
    z-index: 1;
    background: black;
    transform-origin: 100% 50%;
  }
  .hour {
    width: 25%;
    height: 6px;
    transform: translateX(-49%);
  }
  .minute {
    width: 30%;
    height: 5px;
    transform: translateX(-49%);
  }
  .second {
    width: 40%;
    height: 3px;
    transform: translateX(-49%);
  }
  .center-point {
    position: absolute;
    z-index: 2;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: black;
  }
}

// day3 css
.day3-demoImg {
  margin-top: 20px;
  max-width: 100%;
  object-fit: contain;
  padding: var(--spacing);
  background: var(--baseColor);
  filter: blur(var(--blur));
  // -webkit-filter: blur(var(--blur));
}

label {
  margin-right: 5px;
}

input {
  margin-right: 20px;
}

// day4 css
table {
  margin: 0 auto;
  border-collapse: collapse;
}

table th {
  background: #222222;
  color: #ffffff;
  padding: 5px;
  border: 1px solid white;
}

table td {
  padding: 5px;
  border: 1px solid #222222;
}

.arrayToDemo {
  border: 1px solid #222;
  display: inline-block;
  margin: 15px 0 0 15px;
  padding: 15px;
}

// day5 css
.panels {
  display: flex;
  min-height: 100vh;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 20px;
  color: white;
  transition: 0.3s;
  will-change: transform;
  transform: translateZ(0);
  &.open {
    flex: 5;
    font-size: 40px;
  }
  &.active {
    >* {
      &:first-child {
        transform: translateY(0%);
      }
      &:last-child {
        transform: translateY(0%);
      }
    }
  }
  >* {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    &:first-child {
      transform: translateY(-100%);
    }
    &:last-child {
      transform: translateY(100%);
    }
  }
}

.panel1 {
  background: url(../images/day5/day5-4.jpg) no-repeat;
  background-size: cover;
}

.panel2 {
  background: url(../images/day5/day5-2.jpg) no-repeat;
  background-size: cover;
}

.panel3 {
  background: url(../images/day5/day5-3.jpg) no-repeat;
  background-size: cover;
}

.panel4 {
  background: url(../images/day5/day5-1.jpg) no-repeat;
  background-size: cover;
}

.panel5 {
  background: url(../images/day5/day5-5.jpg) no-repeat;
  background-size: cover;
}

// day6 css
.search_form {
  width: 50%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  background: #dddddd;
  border-radius: 5px;
  text-align: center;
  .search_block,
  .search_input {
    flex: 1 0 100%;
  }
  .search_input {
    width: 75%;
    padding: 15px;
    margin-right: 0;
  }
  .place_lists {
    padding: 0;
    margin: 10px 0 0 6px;
    width: 75%;
    list-style: none;
    li {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 17px;
      margin-top: 10px;
      width: 100%;
      background: white;
      border-radius: 3px;
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: rgb(255, 211, 46);
        border-radius: 3px 0 0 3px;
      }
      .hl {
        background: rgb(255, 211, 46);
      }
    }
    .list_placeholder {
      color: #dddddd;
      &:before {
        background: rgba(255, 211, 46, .5);
      }
    }
  }
  button {
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: orange;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 18px 15px;
  }
}